<launch>
  <!-- cartographer_node -->
  <node name="cartographer_node" pkg="cartographer_ros"
    type="cartographer_node" args="
      -configuration_directory $(find mca_pr2_slam)/lua
      -configuration_basename mca_pr2.lua"
    output="screen">
  </node>

  <!-- cartographer_occupancy_grid_node-->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.02"/>
</launch>