<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- launching state publishers -->
  <include file="$(find mca_pr2_bringup)/launch/mca_pr2_remote.launch"/>

  <!-- Slam -->
  <include file="$(find mca_pr2_slam)/launch/mca_pr2_gmapping.launch"/>

  <!--Laser filter-->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
    <rosparam command="load" file="$(find mca_pr2_slam)/config/scan_filter_chain.yaml"/>
  </node>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mca_pr2_slam)/rviz/mca_pr2_gmapping.rviz"/>
  </group>
</launch>
