<?xml version="1.0" ?>
<robot name="mca_pr2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mca_pr2_description)/urdf/common_properties.xacro"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0.0 0.07" rpy="0 0 0.0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0.097 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mca_pr2_description/meshes/bases/pr2_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>