<launch>
  <include file="$(find mca_pr2_bringup)/launch/mca_pr2_remote.launch"/>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mca_pr2_description)/rviz/model.rviz"/>
</launch>
